<div class="container justify-content-center">
  <h1 class="mt-5 mb-4">Search for any titles!</h1>

  <form (ngSubmit)="search()" class="form-inline">
    <div class="input-group">
      <input type="text" class="form-control mr-sm-2" placeholder="Search" [(ngModel)]="searchQuery" name="searchQuery">
      <div class="input-group-append">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </div>
  </form>
</div>

<div class="mt-4" *ngIf="movies.length > 0">
  <ul class="list-group">
    <app-discover [movies]="movies"></app-discover>
  </ul>
</div>
